.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://funart.pro/uploads/posts/2021-03/thumbs/1617050419_30-p-oboi-zelenii-les-31.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  &__title {
    margin: 0 auto;
  }
}

.about-page__info {
  width: 380px;
  height: 500px;
  border: 2px solid rgb(6, 6, 5);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-page__img {
  display: flex;
  margin: 0 auto;
}
.about-page__img img {
  border-radius: 60%;
  width: 300px;
}
.about-page__text {
  display: flex;
  font-size: 24px;
  justify-content: center;
  
}