body {
  background-color: rgb(247, 251, 250);
}

.main-page {
  min-height: 90vh;
}

.container-main {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  //display: flex;
  //justify-content: center;
  //flex-direction: row;
}
