body {
  background-color: rgb(247, 251, 250);
}

.click-me {
  width: 200px;
  height: 50px;
  background-color: rgb(226, 215, 208);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: chocolate;
    cursor: pointer;
  }
}

.container-main {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  //display: flex;
  //justify-content: center;
  //flex-direction: row;
}
