.type-btns {
  display: flex;
  justify-content: center;
  font-size: 24px;
  &__hard, &__learned {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    min-width: 200px;
    height: 80px;
    &.active {
      background-color: chocolate;
    }
    &:hover {
      background-color: rgb(235, 225, 206);
      cursor: pointer;
    }
  }
}