.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2e71;
  color: white;
  &__icon {
    &:hover {
      cursor: pointer;
      transition: 0.5s ease-in-out;
      color: black;
    }
  }
}