.select {
  background-color: rgb(137, 182, 227);
  &:hover {
    cursor: pointer;
    background-color: rgb(126, 173, 220);
  }
  &.option {
    cursor: pointer;
  }
}

.select:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}